<!DOCTYPE html>
<html>
    <head>
        <title>ВУЗ-помощник</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='start.style.css') }}">
    </head>
    <body>
        <div class="app">
            <h1>VuzFinder</h1>
            <div class="quiz">
                <h2 id="hello">Привествуем, дорогие пользователи!
                    Если у вас возникают трудности с поиском ВУЗа, то мы можем помочь вам с этим при помощи
                    небольшого тестирования, после прохождения которого вы можете узнать:
                </h2>
                <ul>
                    <li>Один или несколько подходящих вам ВУЗов</li>
                    <li>Подходящие для вас факультеты</li>
                    <li>Необходимые баллы ЕГЭ для поступления</li>
                    <li>Цену на обучение</li>
                </ul>
                <h2>
                И другую полезную информацию, которая может помочь вам при поступлении.
                Для прохождения теста нажмите на кнопку ниже.
                </h2>
                <form action="{{ url_for('website.quiz') }}">
                    <button id="next" type="submit">Начать тест</button>
                </form>
            </div>
        </div>
    </body>
</html>